In [53]:
import pandas as pd

In [54]:
import os

In [55]:
os.chdir("//Users/huongvu/Documents/Fall 2021/Bass Connection")

In [56]:
os.getcwd()

'/Users/huongvu/Documents/Fall 2021/Bass Connection'

In [57]:
df = pd.read_csv("owid-covid-data.csv")

In [58]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134454,ZWE,Africa,Zimbabwe,2021-11-15,133438.0,10.0,33.286,4697.0,1.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
134455,ZWE,Africa,Zimbabwe,2021-11-16,133505.0,67.0,37.571,4698.0,1.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
134456,ZWE,Africa,Zimbabwe,2021-11-17,133557.0,52.0,36.429,4699.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
134457,ZWE,Africa,Zimbabwe,2021-11-18,133593.0,36.0,37.714,4699.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
134458,ZWE,Africa,Zimbabwe,2021-11-19,133593.0,0.0,37.714,4699.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [59]:
df = df[['iso_code','location','date','total_cases','total_cases_per_million']]

In [60]:
df

       iso_code     location        date  total_cases  total_cases_per_million
0           AFG  Afghanistan  2020-02-24          5.0                    0.126
1           AFG  Afghanistan  2020-02-25          5.0                    0.126
2           AFG  Afghanistan  2020-02-26          5.0                    0.126
3           AFG  Afghanistan  2020-02-27          5.0                    0.126
4           AFG  Afghanistan  2020-02-28          5.0                    0.126
...         ...          ...         ...          ...                      ...
134454      ZWE     Zimbabwe  2021-11-15     133438.0                 8841.538
134455      ZWE     Zimbabwe  2021-11-16     133505.0                 8845.977
134456      ZWE     Zimbabwe  2021-11-17     133557.0                 8849.423
134457      ZWE     Zimbabwe  2021-11-18     133593.0                 8851.808
134458      ZWE     Zimbabwe  2021-11-19     133593.0                 8851.808

[134459 rows x 5 columns]

In [69]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

<ipython-input-69-2b02aa25e3f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [70]:
df

       iso_code     location       date  total_cases  total_cases_per_million
0           AFG  Afghanistan 2020-02-24          5.0                    0.126
1           AFG  Afghanistan 2020-02-25          5.0                    0.126
2           AFG  Afghanistan 2020-02-26          5.0                    0.126
3           AFG  Afghanistan 2020-02-27          5.0                    0.126
4           AFG  Afghanistan 2020-02-28          5.0                    0.126
...         ...          ...        ...          ...                      ...
134454      ZWE     Zimbabwe 2021-11-15     133438.0                 8841.538
134455      ZWE     Zimbabwe 2021-11-16     133505.0                 8845.977
134456      ZWE     Zimbabwe 2021-11-17     133557.0                 8849.423
134457      ZWE     Zimbabwe 2021-11-18     133593.0                 8851.808
134458      ZWE     Zimbabwe 2021-11-19     133593.0                 8851.808

[134459 rows x 5 columns]

In [71]:
df_final = df.loc[df['date'] == '2021-11-19']

In [72]:
df_final

        iso_code     location       date  total_cases  total_cases_per_million
634          AFG  Afghanistan 2021-11-19     156812.0                 3936.496
1280    OWID_AFR       Africa 2021-11-19    8577354.0                 6244.950
1914         ALB      Albania 2021-11-19     195523.0                68056.906
2548         DZA      Algeria 2021-11-19     208695.0                 4677.516
3176         AND      Andorra 2021-11-19      16086.0               207953.047
...          ...          ...        ...          ...                      ...
131741       VNM      Vietnam 2021-11-19    1075094.0                10951.480
132647  OWID_WRL        World 2021-11-19  256692023.0                32595.954
133236       YEM        Yemen 2021-11-19       9954.0                  326.461
133848       ZMB       Zambia 2021-11-19     210043.0                11101.253
134458       ZWE     Zimbabwe 2021-11-19     133593.0                 8851.808

[211 rows x 5 columns]

In [73]:
df_final.to_csv('covid_incidence.csv')